@charset "utf-8";

.dark,
.dark header {
  background-color: #263238;
  color: #fff;
}

i {
  font-size: 2rem;
  cursor: pointer;
}

i:active {
  transform: scale(1.05);
}

#icon-moon {
  display: none;
}

.dark #icon-sun {
  display: none;
}

.dark #icon-moon {
  display: block;
}

.dark .card {
  background-color: #37474f;
}

.dark .card-image {
  background-color: #273035;
}

.dark .card-details p:nth-child(2) {
  color: #67b4f3;
}

.dark .card-details button {
  background-color: #67b4f3;
  color: #171717;
}
