@charset "utf-8";

.dark,
.dark header {
  background-color: var(--dark-bckg);
  color: var(--default-color);
}

i {
  font-size: 2rem;
  cursor: pointer;
}

i:active {
  transform: scale(1.05);
}

#icon-moon {
  display: none;
}

.dark #icon-sun {
  display: none;
}

.dark #icon-moon {
  display: block;
}

.dark .card {
  background-color: var(--dark-card-bckg);
}

.dark .card-image {
  background-color: var(--dark-img-bckg);
}

.dark .card-details p:nth-child(2) {
  color: var(--dark-card);
}

.dark .card-details button {
  background-color: var(--dark-card);
  color: var(--dark-btn-txt);
}
