@charset "utf-8";

:root {
  font-size: 10px;

  --default-color: #fff;
  --light-bckg: #e1e1e1;
  --light-gray: #eff7fc;
  --dark-gray: #444;
  --dark-bckg: #263238;
  --dark-card-bckg: #37474f;
  --dark-img-bckg: #273035;
  --dark-card: #67b4f3;
  --dark-btn-txt: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  background-color: var(--light-bckg);
  transition: 0.5s;
}

input[type="checkbox"] {
  display: none;
}