@charset "utf-8";

header {
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  background-color: var(--light-bckg);
  box-shadow: 0.5px 0.5px 10px 0.5px #00000067;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
